# -------------------------------
# Python Bytecode & Cache
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# Virtual Environment Folders
# -------------------------------
env/
venv/
.venv/

# -------------------------------
# Jupyter Notebook Checkpoints
# -------------------------------
.ipynb_checkpoints/

# -------------------------------
# OS & Editor Files
# -------------------------------
.DS_Store
Thumbs.db

# VS Code
.vscode/

# -------------------------------
# Data Files (Large / Raw Data)
# -------------------------------
*.csv
*.xlsx
*.json
*.parquet
*.zip
*.gz

# If you want ONLY specific datasets tracked, remove this section.

# -------------------------------
# Report Files
# -------------------------------

*.docx
*.pptx

# -------------------------------
# Logs & Temporary Files
# -------------------------------
*.log
*.tmp
*.bak

# -------------------------------
# Jupyter Notebook Output
# -------------------------------
*.ipynb_convert/
EDA/
